CLASS #6

Today we are going to learn how to clean up our datasets a bit. We need to clean our datasets to facilitate the subsequent analysis and visualization processes. Working with a dirty dataset is very difficult and frustrating.

We are going to learn how to find null values ​​in our dataset and clean them up.

### **Aggregations**

Aggregations are a variation of vectorized functions. What they do is take an array (a String, for example), apply an operation to all the elements, and return a single result, which is the addition or reduction of the array. An aggregation looks like this:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
serie = pd.Series([1, 2, 3, 4, 5])

In [ ]:
serie.sum()

In [ ]:
serie.min()

In [ ]:
serie.max()

In [ ]:
serie.count()

Vectorized functions and aggregations with DataFrames

In [ ]:
data = {
    'price': [34, 54, np.nan, np.nan, 56, 12, 34],
    'quantity_in_stock': [3, 6, 14, np.nan, 5, 2, 10],
    'products_sold': [3, 45, 23, np.nan, 24, 6, np.nan]
}

df = pd.DataFrame(data, index=["Pokermaster", "Cookies", "Ice cream", "Tacos", "Hamburguers", "Bottles", "Hot Dogs"])

In [ ]:
df

             price  quantity_in_stock  products_sold
Pokermaster   34.0                3.0            3.0
Cookies       54.0                6.0           45.0
Ice cream      NaN               14.0           23.0
Tacos          NaN                NaN            NaN
Hamburguers   56.0                5.0           24.0
Bottles       12.0                2.0            6.0
Hot Dogs      34.0               10.0            NaN

If we apply arithmetic operations to our DataFrame the operation will be applied element by element to our entire DataFrame:

In [ ]:
df * 100

In [ ]:
(df + 100) / 2

In [ ]:
np.power(df, 2)

In [ ]:
np.sqrt(df)

In [ ]:
np.sin(df) + 100

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.min()

In [ ]:
df.min(axis=1)

In [ ]:
df.max()

In [ ]:
df.max(axis=1)

### **NaN cleanup on a real dataset and data exploration**

To read a .csv file in pandas, we use read_csv and tell it that the separator (the sign that delimits the columns in the .csv file) is a comma:

In [ ]:
#This method of reading the files is using only GOOGLE DRIVE
df_1 = pd.read_csv('../../Datasets/melbourne_housing-raw.csv', sep=',')

df_1

In [ ]:
from google.colab import files 
f = files.upload()

Saving melbourne_housing-raw.csv to melbourne_housing-raw.csv

In [ ]:
df_1 = pd.read_csv('melbourne_housing-raw.csv', sep=',')

df_1

In [ ]:
df_1.shape

In [ ]:
df_1.head(5)

In [ ]:
df_1.dtypes

In [ ]:
df_1.info()

In case we have so many columns that we can't see them all in the preview above, we can access a list of columns using the columns property:

In [ ]:
df_1.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

To identify  the Na's we can use a vectorized function called isna, which returns this:

In [ ]:
df

             price  quantity_in_stock  products_sold
Pokermaster   34.0                3.0            3.0
Cookies       54.0                6.0           45.0
Ice cream      NaN               14.0           23.0
Tacos          NaN                NaN            NaN
Hamburguers   56.0                5.0           24.0
Bottles       12.0                2.0            6.0
Hot Dogs      34.0               10.0            NaN

In [ ]:
df.isna()

             price  quantity_in_stock  products_sold
Pokermaster  False              False          False
Cookies      False              False          False
Ice cream     True              False          False
Tacos         True               True           True
Hamburguers  False              False          False
Bottles      False              False          False
Hot Dogs     False              False           True

Now, we are counting the Na´s within our dataset

In [ ]:
df.isna().sum(axis=0)

In [ ]:
df.isna().sum(axis=1)

To clear rows that have at least 1 NaN value, dropna(axis=0, how='any') is used:

In [ ]:
df.dropna(axis=0, how='any')

With the axis=0 we are telling it that we want to delete by rows. With how='any' we tell it that we want to remove any row that has at least one NaN.

If we wanted to remove only the rows where all values ​​are NaN, we can use axis='all':

In [ ]:
df.dropna(axis=0, how='all')

These results do not apply directly to the original DataFrame. If we want them to persist we have to assign them to another variable:

In [ ]:
df_dropped = df.dropna(axis=0, how='all')

Cleaning NaNs by columns

Let's add a column:

In [ ]:
df['discount'] = np.nan

In [ ]:
df

Just like by rows, removing NaNs by column can also be done using 'any' and 'all'. The only difference is that now you have to use axis=1 so that the elimination is done by columns:

In [ ]:
df.dropna(axis=1, how='any')

Filling NaNs with values

Another thing we can do is fill the NaN values ​​with some other value.

For example, let's say we have this dataset:

In [ ]:
df

In [ ]:
df_no_nans = df.dropna(axis=0, how='all')
df_no_nans = df_no_nans.dropna(axis=1, how='all')

df_no_nans

Now, let's say we can assume that if there is a NaN value in "products_sold" it's because it hasn't been sold yet. In that case we can fill that NaN using fillna:

In [ ]:
df_no_nans['products_sold'] = df_no_nans['products_sold'].fillna(0)

df_no_nans

Now, with the real database

In [ ]:
df_2 = df.drop(columns=['BuildingArea', 'YearBuilt'])

df_2.isna().sum()

In [ ]:
df_2['Regionname'] = df_2['Regionname'].fillna('Unknown')

df_2.isna().sum()

In [ ]:
df_dropped = df_2.dropna(axis=0, how='any')

df_dropped.isna().sum()

In [ ]:
df_dropped.shape

SORTING DATAFRAMES

df.sort_values(by=['First Column','Second Column',...], inplace=True, etc.)

In [ ]:
##

### **Crosstabs**

In [ ]:
df = pd.read_json('../../Datasets/zomato_reviews-clean.json')

df.head()

We can use the crosstab method to generate crosstabs using two of our categorical variables:

In [ ]:
pd.crosstab(df['price_range'], df['user_rating'])

We can get a column and a row with the totals by adding the flag margins and margins_name:

In [ ]:
pd.crosstab(df['price_range'], df['user_rating'], margins=True, margins_name='total')

As you can see, the index is indicating the first grouping of our data (the 'price_range' column), while the columns indicate the second grouping (the 'user_rating' column).

We can also add one more categorical variable to generate multiple levels in the columns:

In [ ]:
pd.crosstab(df['price_range'], [df['has_online_delivery'], df['user_rating']], margins=True, margins_name='total')

### **API**

To make a request to an API, we have to take into account the following things:

URL: the "address" where we are going to make our request
HTTP Verb: The type of action we are going to perform (i.e. GET, POST, PUT, PATCH, DELETE, etc.)
Parameters: Values ​​that we add to our request to send relevant information to the API (access data, filters, etc.)
Response Status: A code that tells us if our request was successful or not (i.e. 200, 201, 400, 404, 500, etc.)
Response Body: The data that was sent back to us at the end of the request.
Let's see this in action.

In [ ]:
!pip install requests

In [ ]:
import requests
import pandas as pd

We are going to make requests to a NASA api that offers data about objects that orbit near the Earth. You can see the documentation [here](https://api.nasa.gov/). There we can see the endpoints and the way in which the Api Key is used. Go to the page and get your own Api Key so you can do the exercises.

Now, to get started, we need our endpoint and our parameter dictionary.

In [ ]:
endpoint = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'

payload = {'api_key': 'your_api_key_goes_here'}

We pass both of them to the GET method of requests to make the request to that endpoint and send the parameters as extra information that the API needs to validate our request:

In [ ]:
r = requests.get(endpoint, params=payload)

In [ ]:
r.status_code

In [ ]:
json = r.json()

In [ ]:
json.keys()

In [ ]:
json['links']

In [ ]:
json['page']

In [ ]:
data = json['near_earth_objects']

In [ ]:
data[0]

links and page are metadata that we will use later to automate the request process. data is a list of dictionaries containing the data we want to use. Let's convert them to a DataFrame:

In [ ]:
normalized = pd.json_normalize(data)

df = pd.DataFrame.from_dict(normalized)

df.head()